/*
Theme Name: Ziegenhagel Media - Shop
Theme URI: https://ziegenhagel.com
Author: Dominik Ziegenhagel
Author URI: https://ziegenhagel.com/
Description: Our default theme for Ziegenhagel Media Websites
Version: 1.1.0
Requires at least: 5.0
Tested up to: 5.4
Requires PHP: 7.0
Text Domain: ziegenhagel-media
*/


body {
    background: orange url("bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

.wpcf7-form-control.wpcf7-submit, .elementor-widget-button .elementor-button .elementor-button-text, nav, h2, h1 {
    font-family: 'Niramit', sans-serif !important;
    font-weight: bold !important;
}

@font-face {
    font-family: 'Niramit';
    src: url('fonts/Niramit-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

nav .menu {
    display: flex;
}

nav .menu li {
    padding: 2px 0;
    margin: 0 10px;
    color: #fff9;
    border-bottom: 3px solid transparent;
    transition: .4s;
}

nav .menu li:hover, nav .menu li.current_page_item, nav .menu li:hover, nav .menu li.current-page-ancestor {
    color: #fff;
    border-color: white;
}

.page {
    max-width: 100%;
    width: 1200px;
    margin: auto;
}


.wpcf7-form-control,
.wpcf7-form-control.wpcf7-submit, .elementor-widget-button .elementor-button {
    border-radius: 2rem;
    padding: 1rem 3rem;
    line-height: 1rem;
    background: #0008 !important;
    border: 2px solid #fff;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: .1s;
    font-size: 1.1em;
    cursor: pointer;
}

.elementor-widget-button.secondary .elementor-button {
    text-shadow: #000 1px 1px 3px;
    background: #fff1 !important;
}

.wpcf7-form-control {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
}

.elementor-widget-button .elementor-button:hover, .wpcf7-form-control.wpcf7-submit:hover {
    background: #000 !important;
    transform: scale(1.03);
}


#top input[type="checkbox"] {
    display: none;
}

#top input[type="checkbox"] {
    display: none;
}

@media (max-width: 768px) {

    #top label {
        display: inline-block;
        padding: 10px;
        background-color: #fff2;
        border-radius: 4px;
    }


    #top .menu-main-container {
        display: none;
    }

    #top :checked + .menu-main-container {
        display: block;
        width: 100%;
        flex: 0;
        margin-top: 10px;
    }

    #top .mobile-top {
        width: 100%;
        flex: 1;
        justify-content: space-between;
    }

    #top ul, #top, #bottom, #bottom ul {
        display: block;
    }

    #top li, #bottom li {
        margin: 0;
        padding: 11px 4px;
        border-top: 1px solid #fff3;
        border-bottom: none;
    }

    #bottom li:first-of-type {
        border-top: none;
    }
    #bottom {
        padding: 5px;
    }

    .hamburger > div {
        height: 4px;
        width: 42px;
        background: white;
        border-radius: 1px;
        margin: 7px 0;
    }

}

#bottom {
    text-align: center;
}


.columns-4 {
    columns: 1 !important;
    column-width: 1 !important;
    column-count: 1 !important;
}


h1,.title {
    margin-bottom: 40px;
    font-size: 2rem;
}

.woocommerce-MyAccount-navigation ul {
    list-style: none;
    padding: 0;
    margin-bottom: 2em;

}
.woocommerce-MyAccount-navigation ul li {
    display: inline-block;
    margin-right:2px;
    margin-bottom: 3px;
    background: #0001;
    border-radius: 10px;
    padding: 10px;
}

.woocommerce-MyAccount-navigation-link.is-active {
    background: #0007;
    color: #fff;
}

.woocommerce-Input {
    padding: 5px 10px;
    border-radius: 3px;
}
